# 10 Minutes to pandas

In [ ]:
Pandas documentation : [link](https://pandas.pydata.org/docs/user_guide/10min.html#min)

In [3]:
import pandas as pd
import numpy as np

## Object Creation

Creating a *Series* by passing a list of values :

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
type(s)

pandas.core.series.Series

Creating a *Dataframe* by passing a NumPy array with a datetime index and labeled columns:

In [8]:
dates = pd.date_range('20190715', periods=6)

In [9]:
dates

DatetimeIndex(['2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18',
               '2019-07-19', '2019-07-20'],
              dtype='datetime64[ns]', freq='D')

In [10]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2019-07-15 -1.033329  0.351805  0.836966  0.645583
2019-07-16 -0.712066 -0.233790 -0.548090  0.560998
2019-07-17  0.030442 -0.906334 -0.660103  0.106456
2019-07-18 -0.626521  0.684759  0.457120 -1.276027
2019-07-19  0.433850  0.170300  3.146584  0.495234
2019-07-20 -0.254178 -0.067773  0.166055 -0.049388