In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1.1, 2.7, 5.3], 'B': [2, 10, 9], 'C': [3.3, 5.4, 1.5], 'D': [4, 7, 15]},
                      index = ['a1', 'a2', 'a3'])

In [3]:
df

      A   B    C   D
a1  1.1   2  3.3   4
a2  2.7  10  5.4   7
a3  5.3   9  1.5  15

In [4]:
df.index

Index(['a1', 'a2', 'a3'], dtype='object')

In [5]:
print(df.index.values)

['a1' 'a2' 'a3']

In [6]:
print(df.values)

[[ 1.1  2.   3.3  4. ]
 [ 2.7 10.   5.4  7. ]
 [ 5.3  9.   1.5 15. ]]

In [7]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
print(df.columns.values)

['A' 'B' 'C' 'D']

In [9]:
df.loc[df['B'] > 5]

      A   B    C   D
a2  2.7  10  5.4   7
a3  5.3   9  1.5  15

In [10]:
df.loc[df['B'] == 10].index

Index(['a2'], dtype='object')

In [11]:
df.loc['a2']

A     2.7
B    10.0
C     5.4
D     7.0
Name: a2, dtype: float64

In [12]:
for i in df.columns:
    a=df.loc[df[i] == 15].index.values
    if a.size !=0 :
        print(a[0])
        print(i)

a3
D

In [36]:
b = []

In [37]:
b != []

False